body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
}

.dashboard_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

.dashboard {
    width: 100%;
    height: 100vh;
}

.dashboard_content {
    display: flex;
    height: 100vh;
}

.map {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 10px;
    height: 510px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.summary {
    display: flex;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

td {
    text-align: center;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date span {
    font-size: 1rem;
    color: #555;
    margin-inline: 1rem;
}

.date input[type="date"] {
    margin-left: 10px;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.date select {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.table {
    width: 100%;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.svg-map {
    width: 60%;
}
